@font-face {
    font-family: 'SamuraiBlast';
    src: url('../public/fonts/samurai/SamuraiBlastRegular.woff')
  }
@font-face {
    font-family: 'Bento';
    src: url('../public/fonts/bento/Bento.woff');
  }