@font-face {
    font-family: SamuraiBlast;
    src: url("../../../public/fonts/SamuraiBlast-8MnyD.otf");
  }
@font-face {
    font-family: Bento;
    src: url("../../../public/fonts/Bento-2OXaW.otf");
  }
@font-face {
    font-family: Karasha;
    src: url("../../../public/fonts/Karasha-z8mYw.otf");
  }